<!--The content below is only a placeholder and can be replaced.-->
<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
    *ngFor="let tile of tiles"
    [colspan]="tile.cols"
    [rowspan]="tile.rows"
    [style.background]="tile.color">

    <!--<ng-container *compile="tile.text; context: this"></ng-container>-->
    <html-outlet [html]="tile.text"></html-outlet>
  </mat-grid-tile>
</mat-grid-list>
<hr />
<br />
<br />
<mat-toolbar color="primary">
  <span>Custom Toolbar</span>

  <mat-toolbar-row>
    <span>Second Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">verified_user</mat-icon>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

